* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  #header {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 15vh;

    #importedImage {
      position: absolute;
      border-radius: 5px;
      width: 35vw;
      height: 5vh;
      left: 2vw;
      top: 5vh;
      background-color: white;
      font-size: 1rem;
    }

    button {
      width: 18vw;
      font-size: 1.75rem;
      height: 10vh;
      top: 2.5vh;
    }

    #download {
      background-color: #26abff;
      right: 2vw;
    }

    #editOther {
      background-color: #8b0000;
      right: 21vw;
    }
  }

  button {
    position: absolute;
    border-radius: 7.5px;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
  }

  #menu {
    background-color: #26abff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;

    button {
      width: 8vw;
      font-size: 1.2rem;
      height: 6vh;
      top: 2.5vh;
      background-color: grey;
    }

    #reset {
      left: 1vw;
    }

    #undo {
      left: 10.5vw;
    }

    #options-container {
      width: 100%;
      margin-top: 11vh;
    }
  }

  #canvas-container {
    position: absolute;
    left: 21vw;
    overflow: scroll;
    width: 78vw;
    top: 17vh;
  }

  #inputImage {
    display: none;
  }
}
