* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  #header {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 15vh;

    .input {
      border-radius: 50px;
      margin-left: 2vw;
      height: 5vh;
      color: white;
      width: 36vw;
      padding: 1%;
    }

    .input,
    button {
      position: absolute;
      background-color: #26abff;
      cursor: pointer;
      margin-top: 3.5vh;
      border: solid white 1px;
    }

    button {
      width: 18vw;
      height: 8vh;
    }

    .update {
      right: 21vw;
    }

    .download {
      right: 2vw;
    }
  }

  button {
    text-transform: uppercase;
    border-radius: 50px;
    color: white;
    border: solid 1px white;
  }

  #menu {
    background-color: #26abff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;

    .reset,
    .undo {
      position: absolute;
      top: 2.5vh;
      padding: 1.5vh 1vw;
      width: 8vw;
    }

    .active {
      background-color: darkblue;
      cursor: pointer;
    }

    .inactive {
      cursor: not-allowed;
    }

    .reset {
      left: 1vw;
    }

    .undo {
      left: 10.5vw;
    }

    #options-container {
      height: 85vh;
      overflow: scroll;
      // width: max-content;
      margin-top: 8vh;
      margin-left: 2vw;

      .option {
        margin-top: 1.5vh;
        width: max-content;
        font-size: medium;

        button {
          display: block;
        }

        .colour,
        .autoUpdate,
        .invert,
        .flip,
        .grayscale {
          float: left;
        }

        .blur {
          cursor: not-allowed;
        }

        .checklist {
          padding: 0.2% 0;
          width: fit-content;
          color: rgb(40, 41, 46);
        }

        .right {
          float: right;
          margin-left: 0.4vw;
        }

        .checklist {
          *:not(.text, .fit) {
            cursor: pointer;
          }

          .text {
            cursor: default;
          }
        }

        .text:not(.right) {
          margin-left: 1.2vw;
        }
      }

      .blur-add {
        width: 1vw;
        height: 1vw;
        cursor: pointer;
      }

      .colour {
        width: 1vw;
        height: 1vw;
        background-color: black;
      }
    }
  }

  #canvas-container {
    position: absolute;
    left: 21vw;
    overflow: scroll;
    width: 78vw;
    top: 17vh;
    height: 80vh;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #inputImage {
    display: none;
  }
}

.none {
  display: none;
}
