* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  #header {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 15vh;

    .input {
      font-size: 1vw;
      border-radius: 50px;
      margin-left: 2vw;
      height: 5vh;
      color: white;
      width: 36vw;
      padding: 1%;
    }

    .input,
    button {
      background-color: #26abff;
      cursor: pointer;
      margin-top: 3.5vh;
      border: solid white 1px;
    }

    button {
      width: 18vw;
      font-size: 1.65vw;
      height: 8vh;
    }

    .update {
      right: 21vw;
    }

    .download {
      right: 2vw;
    }
  }

  button {
    position: absolute;
    text-transform: uppercase;
    border-radius: 50px;
    color: white;
    border: solid 1px white;
  }

  #menu {
    background-color: #26abff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;

    .submit {
      cursor: pointer;
    }

    .reset,
    .undo {
      top: 2.5vh;
      font-size: 1rem;
      padding: 1.5vh 1vw;
      width: 8vw;
    }

    .active {
      background-color: darkcyan;
      cursor: pointer;
    }

    .inactive {
      cursor: default;
    }

    .reset {
      left: 1vw;
    }

    .undo {
      left: 10.5vw;
    }

    #options-container {
      width: 100%;
      margin-top: 11vh;

      .blur-add {
        width: 1vw;
        height: 1vw;
        cursor: pointer;
      }
    }
  }

  #canvas-container {
    position: absolute;
    left: 21vw;
    overflow: scroll;
    width: 78vw;
    top: 17vh;
    height: 80vh;

    &::-webkit-scrollbar {
      display: none;
      visibility: hidden;
    }
  }

  #inputImage {
    display: none;
  }
}

.none {
  display: none;
}
